.findFriendsContainer {
  .userProfileContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;
    border: 1px solid var(--gray-alpha-200);
    padding: 8px 20px;

    opacity: 0; /* Start hidden */
    animation: fadeIn 0.5s ease forwards; /* Animation on load */

    &:hover {
      background-color: var(--gray-alpha-100);
      transition: background-color 0.2s;
      border: 1px solid var(--gray-alpha-100);
    }

    .userName {
      font-weight: 600;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start invisible */
  }
  to {
    opacity: 1; /* End fully visible */
  }
}
