.container {
  display: flex;
  flex-direction: row;

  border: 1px #fff solid;
  min-height: 500px;
  padding: 50px;

  .conversationList {
    display: flex;
    flex-direction: column;

    border: 1px #fff solid;
    padding: 50px;

    .conversationItem {
      border: 1px #fff solid;
      padding: 10px;
      cursor: pointer;
    }
  }

  .conversationMessagesContainer {
    display: flex;
    flex-direction: column;

    border: 1px #fff solid;
    padding: 50px;

    .conversationMessages {
      display: flex;
      flex-direction: column;
      gap: 4px;
      border: 1px #fff solid;
      padding: 50px;

      .messageContainer {
        padding: 10px;

        border: 1px #fff solid;

        .messageContent,
        .messageDetails {
          img {
            border-radius: 4px;
          }

          .messageDate {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
