.container {
  display: flex;
  flex-direction: row;

  border: 1px #fff solid;
  border-radius: 4px;
  min-height: 500px;
  padding: 50px;

  .contextMenu {
    position: fixed;
    background: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
    // height: 100px;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      background: #2a2a2a;
    }

    button {
      display: block;
      width: 100%;
      // padding: 8px 12px;
      border: none;
      background: none;
      // text-align: left;
      cursor: pointer;
    }
  }

  .conversationList {
    display: flex;
    flex-direction: column;

    border: 1px #fff solid;
    border-radius: 4px;
    padding: 50px;

    .conversationItem {
      border: 1px #fff solid;
      border-radius: 4px;
      padding: 10px;
      cursor: pointer;
    }
  }

  .conversationMessagesContainer {
    display: flex;
    flex-direction: column;

    border: 1px #fff solid;
    border-radius: 4px;
    padding: 50px;

    .conversationMessages {
      display: flex;
      flex-direction: column;
      gap: 4px;
      border: 1px #fff solid;
      border-radius: 4px;
      padding: 50px;

      max-height: 500px;
      overflow-x: hidden;
      overflow-y: scroll;

      .messageContainer {
        padding: 10px;
        border: 1px #fff solid;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        gap: 0px;

        .messageContent {
          font-size: 1.1rem;
          margin-bottom: 4px;
        }
        .messageSender {
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: 0.9rem;

          .profileImage {
            border-radius: 4px;
          }
        }

        .messageStatusDate {
          font-size: 0.7rem;
          white-space: nowrap;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 8px;

          .messageStatus {
            display: flex;
            align-items: center;

            .statusIcon {
              display: inline-flex;

              svg {
                margin-left: 4px;
              }
            }
          }
        }
      }
    }
  }
}
