.navigation {
  grid-row-start: 2;
  display: flex;
  gap: 24px;
  min-width: 200px;
}

.navigation a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navigation img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .navigation a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .navigation {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 32px;
    padding-bottom: 80px;
  }
}
